/************************************************
    UTILITIES
 ************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexible {
    display: flex;
}

.just-between {
    justify-content: space-between;
}

.wrapped {
    flex-wrap: wrap;
}

.alitem-center {
    align-items: center;
}

.bc-blue {
    background-color: rgb(39, 39, 243);
}

.container-90 {
    width: 90vw;
    margin: 0 auto;
}


.bc-lightblue {
    background-color: rgb(124, 194, 218);
}



/************************************************
    SITE SECTIONS
 ************************************************/

/* Nav Section */

.header section {
    margin: 0 15px;
    color: white;
}



/* Body Section */

a {
    text-decoration: none;
}

.head-img img {
    width: 80%;
}



.button-a {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 3px 5px;
}

.head-text h3 {
    color: blue;
}



.head-text * {
    margin: 20px 0;
}

.head-card {
    border-radius: 10px;
    margin-bottom: 2%;
}

.head-card div {
    width: 80%;
    margin: 0 auto;
}

.head-card.first {
    width: 100%;
}


.head-card.secondary * {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.head-card.secondary div,
.head-card.secondary p {
    width: 80%;
    margin: 0 auto;
}

.head-card.secondary div i {
    width: 5rem;
}



/************************************************
SOLUZIONE RESPONSIVE
************************************************/


@media screen and (min-width: 768px) {
    .head-card.first {
        width: calc(100% / 3 * 2 - 1%);
    }

    .head-card.secondary {
        width: calc(100% / 3 - 2%);
    }

}

@media and (max-width: 1024px) {

    .head-text,
    .head-img {
        width: 90%;
    }

}

@media screen and (max-width: 768px) {
    .head-img {
        text-align: center;
    }

}